# Python
venv/
__pycache__/
*.pyc

# Node
node_modules/

# Environment files
.env

# Credentials
backend/credentials/

# OS
.DS_Store
Thumbs.db

# Build
build/
dist/

# Generated
generated_cards/

# Database
backend/dataset/